{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "external-helpers"
  ]
}