{
  "presets": ["env"],
  "plugins": [
    ["transform-es2015-destructuring"],
    ["transform-object-rest-spread"],
    ["add-module-exports"],
    ["transform-es2015-modules-umd", {
      "globals": {
        "index": "Viz"
      },
      "exactGlobals": true
    }],
    ["add-header-comment", {
      "header": [
        "Viz.js 2.0.0-pre.0"
      ]
    }]
  ]
}
