name: Build and test viz package

on:
  push:
    branches-ignore:
      - v2
      - gh-pages
    paths:
      - "packages/viz/**"
  workflow_call: {}

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v2

      - uses: docker/build-push-action@v4
        with:
          context: packages/viz/src/module
          push: false
          outputs: type=local,dest=packages/viz/lib
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: "Build"
        run: |
          yarn install --frozen-lockfile
          test -f lib/module.mjs && touch lib/module.mjs
          test -f lib/module.wasm && touch lib/module.wasm
          make
        working-directory: packages/viz

      - uses: actions/upload-artifact@v3
        with:
          name: lib
          path: packages/viz/lib

  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: lib
          path: packages/viz/lib

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: "Run tests"
        run: |
          yarn install --frozen-lockfile
          yarn test
        working-directory: packages/viz

  test-consume:
    name: Test import and require
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: lib
          path: packages/viz/lib

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: "Run module-import test"
        run: |
          yarn install --frozen-lockfile
          node index.js
        working-directory: packages/viz/test/module-import

      - name: "Run commonjs-require test"
        run: |
          yarn install --frozen-lockfile
          node index.js
        working-directory: packages/viz/test/commonjs-require

  test-types:
    name: Test types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: "Run yarn install in package directory"
        run: |
          yarn install --frozen-lockfile
        working-directory: packages/viz

      - name: "Run check-types"
        run: |
          yarn install --frozen-lockfile
          yarn check-types
          yarn check-types-esnext
        working-directory: packages/viz/test/types
