name: Publish viz

on:
  push:
    tags: ["v*"]

jobs:
  build:
    uses: ./.github/workflows/viz-build.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: lib
          path: packages/viz/lib

      - run: gh release create "${{ github.ref }}" lib/* --draft --title "${{ github.ref_name }}"
        env:
          GH_TOKEN: ${{ github.token }}
        working-directory: packages/viz

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: lib
          path: packages/viz/lib

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - run: npm install -g npm

      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: packages/viz
